


body{
    padding:100px;
    background-color: peachpuff;
    text-align:center;
}

    
p{
    margin:30px;
    padding:20px;
}

h2,h1,h3{
text-align:center;
text-decoration:underline;
font-size: xx-large;

}

    
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fineoil{
    text-align:center;
}

.game{
    text-align:center;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.donne{
    border-radius: 10px;
}

.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container7{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container8{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

strong{
    font-size:larger;
    
}

{
    text-align:center;
}

mark{
    color:black;
}

em{
    text-decoration:underline;
}

.fineoil{
    border-radius: 100px;
}

.gaetan{
    border-radius:50px;
}

.game{
    border-radius:50px;
}
.game:hover{
    opacity: 0.5;
}


.menu{
     border: 10px double black;
     margin-left: 200px;
     margin-right: 200px;
    
}

a{
    color: rgb(234, 0, 255);
    text-decoration: none;
}